html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 12px;
}
/********************
     Body 
*********************/
body {
    margin: 0;
    padding-top: 4px;
}


@media (min-width: 992px) {
    body {
        padding-top: 6px;
    }
}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.rating .filled {
    color: orangered;
}

.clear {
    margin-top: 20px;
}


a.adisabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .45;
}

    a.adisabled:hover {
        text-decoration: none;
    }

    a.adisabled:focus {
        text-decoration: none;
    }

    a.adisabled:active {
        text-decoration: none;
    }

.day-select {
    border: none;
}

.div-disabled {
    cursor: not-allowed;
    pointer-events: none;    
}
