<cd-container title="Home" message="message">    
        <div class="row" ng-if="!Banks">
            <div class="col">
                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#bank" ng-class="{'adisabled' : !authentication.isAuth}">Add</a>
                </div>
            </div>
        </div>
        <div class="row" ng-if="Banks">
            <div class="col">
                <div class="text-right">
                    <a href="#" data-toggle="modal" data-target="#bank" ng-class="{'adisabled' : !authentication.isAuth}">Add</a>
                    <span>Total de Registros: {{Banks.length}}</span>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">RN</div>
                            <div class="col-3">Name</div>
                            <div class="col-5">Street</div>
                            <div class="col-2">Start</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div ng-repeat="x in Banks" ng-init="x.details = false">
                            <div class="card card-header">
                                <div class="row">
                                    <div class="col-2">{{x.RoutingNumber}} <em ng-class="{'fa fa-angle-up': x.details == true, 'fa fa-angle-down': x.details == false}" ng-click="x.details = !x.details"></em></div>
                                    <div class="col-3">{{x.Name}}</div>
                                    <div class="col-5">{{x.Street}} {{x.ZipCode}}</div>
                                    <div class="col-2 text-center">
                                        <div class="div-disabled" cd-rating rating-value="x.rating" max="5"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="x.details">
                                <div class="text-center">
                                    <a href="#" data-toggle="modal" data-target="#branch" ng-class="{'adisabled' : !authentication.isAuth}" ng-click="bankId = x.Id">Add new Branch</a>
                                    <c-branch parent-id="x.Id" callback-success="success()" callback-cancel="cancel()"></c-branch>
                                </div>
                                <div class="row" ng-repeat="y in x.Branches">
                                    <div class="col-5"></div>
                                    <div class="col-5">{{y.Street}}</div>
                                    <div class="col-2 text-center">
                                        <div class="div-disabled" cd-rating rating-value="y.rating" max="5"></div>
                                        <a href="#" data-toggle="modal" data-target="#rating" ng-class="{'adisabled' : !authentication.isAuth || CheckUserRateBranch(y)}" ng-click="branchId = y.Id">Rate</a>
                                        <c-rating parent-id="y.Id" callback-success="success()" callback-cancel="cancel()"></c-rating>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</cd-container>
<c-bank id="bankid" callback-success="success()" callback-cancel="cancel()"></c-bank>