<div class="row">
    <div class="col">
        <div class="form-group">
            <label>
                Bank:
            </label>
            <input type="text" class="form-control" id="bank" name="bank" required readonly />
        </div>
        <div class="form-group">
            <label>
                Name:
            </label>
            <input type="text" class="form-control" id="name" name="name" ng-model="data.name" required />
        </div>
        <div class="form-group">
            <label>
                Street:
            </label>
            <input type="text" class="form-control" id="street" name="street" ng-model="data.street" />
        </div>
        <div class="form-group">
            <label>
                Zip Code:
            </label>
            <input type="text" class="form-control" id="zipcode" name="zipcode" ng-model="data.zipcode" />
        </div>
    </div>
</div>